
.notificationList {
    margin: 10px auto;
    text-align: center;
}

.mainButtons {
    text-align: center;
    margin: 10px 0;
}

.reviewFeedback {
    padding: 10px 0; 
    background: lightgrey;
}

.projectList {
    margin: 10px auto;
    text-align: center;
}

.projectButton {
    margin: 5px 0;
}