/***** Border-box *****/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

footer {
    margin: 0;
    background: lightgrey;
    text-align: center;
    height: 40px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

textarea {
    width: 100%;
}

fieldset {
    margin: 10px 0;
}

.topBar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 5px 10px;
    background: lightgrey;
}

.pageTitle {
    margin: 10px auto;
}

.appFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.centerButton {
    display: block;
    margin: 0 auto;
}