.reviewInfoWrapper {
    width: 90%;
    max-width: 500px;
    background:lightblue;
    margin: 0 auto;
    padding: 5px 10px;
}
.reviewHeading {
    margin: 0 auto;
}
.reviewData {
    margin: 5px 0;
}




.gridContainer {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    width: 90%;
    max-width: 600px;
    margin: 0 auto 20px;
    border: 2px solid black
}

.col1 {
    grid-column-start: 1;
}

.col2 {
    grid-column-start: 2;
}

.col3 {
    grid-column-start: 3;
}

.heading {
    background: lightgray;
    border: 2px solid black;
    margin: 0;
    padding: 10px 0;
}

.gridItem {
    border: 2px solid black;
    text-align: center;
    padding: 5px 0;
}

/* .gridItem {
    display: flex;
    justify-content: center;
    align-items: center;
} */


.gridItem button {
    margin: 0 10px;
}